body.teams {
    font-family: Arial;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    text-align: center;
  }

.div1 {
  margin: 10px;
  height:10%;
  width: 90%;
}

.div2 {
  margin: 10px;
  height:100%;
  width: 80%;
}

a.mainLink {
  font-size: 14px;
  font-family:verdana;
  color:black;
}

.ulTeams1 {
  text-align:center;
}

.liTeams1 {
  height:130px;
  width:130px;
}

.divTeams1 {
  height:90%;
  width:100%;
}

.divTeams2 {
  font-size: 12px;
  font-family:verdana;
  color:black;
}

.divPlayers1 {
  text-align:left
}

.liPlayers {
  background-color: #f2eded;
  height:140px;
  width:170px;
}

.divPlayers1 {
  height:80%;
  width:100%
}

.divPlayers2 {
  text-align: left;
  font-size: 11px;
  font-family:verdana;
  color:black;
}

.divPlayers3 {
  font-weight: bold;
  text-align: center;
  font-size: 12px;
  font-family:verdana;
  color:black;
}

.imgPlayer {
  height:100%;
  width:100%;
}

.ulTable {
  line-height: 1px;
  text-align: center;
}


.liTable1 {
  font-weight: bold;
  background-color: #cfcaca;
  height:15px;
  width:130px;
  font-size: 12px;
  font-family:verdana;
  color:black;
}

.divTable1 {
  margin: 10px;
  height:10%;
  width:90%;
}

.divTable2 {
  margin: 10px;
  height:100%;
  width:80%
}

