extends layout

block content
    div(class='row')
        div(class='col-md-6')
            div(id='piechartTrump' style="width: 630px; height: 300px;")
            div(id='piechartBiden' style="width: 630px; height: 300px;")

block append scripts
    script(src='/javascripts/piechart.js')